:root {
  --submit: #2691d9;
  --error: #e74c3c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to right, #b993d6, #8ca6db);
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  background-color: #fff;
  border-radius: 10px;
  padding: 40px;
  width: 400px;
}

.register__title {
  text-align: center;
  font-size: 34px;
  font-weight: 800;
  letter-spacing: 2px;
}

.register__form {
  margin-top: 40px;
  width: 100%;
  position: relative;
}

.register__form .register__input {
  width: 100%;
  font-size: 18px;
  border: none;
  outline: none;
  padding: 8px 4px;
  border-bottom: 3px solid #ccc;
  transition: all 0.4s ease;
}

.register__input:focus {
  background-color: #2691d929;
}

.register__form .register__line {
  position: absolute;
  margin-top: -3px;
  width: 0%;
  height: 3px;
  background-color: var(--submit);
  transition: all 0.4s ease;
}

.register__input:focus ~ .register__line {
  width: 100%;
}

.registerBtn {
  margin: 50px 0 20px;
  width: 100%;
  border: none;
  outline: none;
  padding: 10px;
  color: #fff;
  font-size: 20px;
  border-radius: 20px;
  background-color: var(--submit);
  cursor: pointer;
}

.registerBtn:hover {
  background-color: #195d8a;
}

.register__form.error .register__input {
  background-color: #e74d3c50;
}

.register__form.error .register__line {
  width: 100%;
  background-color: var(--error);
}

.register__form.error .register__input:focus {
  background-color: #fff;
}

.register__form.error .register__input:focus ~ .register__line {
  width: 0%;
}

.register__form.error .register__input:focus ~ .register__messenger {
  display: none;
}

.register__form.error .register__messenger {
  color: var(--error);
}

.login {
  text-align: center;
  font-weight: 600;
  color: #666;
}

.login a {
  text-decoration: none;
  color: var(--submit);
}

.login a:hover {
  text-decoration: underline;
}
